<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <angular-core-workshop-projects-list
      [projects]="projects$ | async"
      (selected)="selectProject($event)"
      (deleted)="deleteProject($event)"
    ></angular-core-workshop-projects-list>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <angular-core-workshop-projects-details
      [project]="selectedProject"
      (saved)="saveProject($event)"
      (cancelled)="cancel()"
    ></angular-core-workshop-projects-details>
  </div>
</div>
